# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Procedural
tagline: Gallery
email: timothyleung@gmail.com
description: Leading modern and contemporary art gallery specialising in procedurally generated art.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://proceduralgallery.com" # the base hostname & protocol for your site, e.g. http://example.com
instagram_username: proceduralgallery

# The default value is "%b %d, %Y" (e.g. Nov 14, 2023)
# Refer to https://shopify.github.io/liquid/filters/date/ if you want to customize this.
date_format: "%-d %B %Y"

# Google Analytics
google_analytics: G-KFX2317X3Y

# Collections
collections:
  artists:
    output: true
    permalink: /:collection/:title
  artworks:
    output: true
    permalink: /:collection/:title
  exhibitions:
    output: true
    permalink: /:collection/:title

# Sibling sites
sites:
  "Acta Machina":
    font: "Inter"
    url: "https://actamachina.com"
  "hyperfocal":
    font: "Jost"
    url: "https://hyperfocalphotos.com"
  "Procedural":
    font: "Nunito Sans"
    url: "https://proceduralgallery.com"

# Build settings
plugins:
  - jekyll-feed
  - jekyll-postcss
  - jekyll-seo-tag
  - jekyll-sitemap

postcss:
  cache: false
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
