---
layout: base
---

{%- assign artworks = site.artworks | where_exp: "artwork", "page.artworks contains artwork.slug" -%} {%- assign
artist_slugs = artworks | map: "artist" | uniq -%} {%- assign artists = site.artists | where_exp: "artist",
"artist_slugs contains artist.slug" | sort: "name" -%}

<div class="px-4 pt-4 text-2xl sm:px-8 sm:pt-8 sm:text-4xl">
  <h1>{{ page.title | escape }}</h1>
</div>

<div class="p-4 text-sm/5 sm:p-8 sm:text-base/6">
  {%- assign artwork = site.artworks | where: "slug", page.artworks[0] | first -%}
  <img src="/assets/images/artworks/{{ artwork.slug }}/gallery-sm.jpg" alt="{{ artwork.title | escape }}" />
</div>

<div class="grid grid-cols-1 gap-4 p-4 text-sm/5 sm:grid-cols-4 sm:gap-8 sm:p-8 sm:text-base/6">
  <div class="space-y-2 sm:space-y-4">
    <h2 class="text-zinc-500 dark:text-zinc-400">Dates</h2>
    <p>{{ page.start_date | date: "%-d %B %Y" }} – {{ page.end_date | date: "%-d %B %Y" }}</p>
  </div>
  <div class="col-span-2 space-y-2 sm:space-y-4">
    <h2 class="text-zinc-500 dark:text-zinc-400">Press Release</h2>
    {{content}}
  </div>
  <div class="space-y-2 sm:space-y-4">
    <h2 class="text-zinc-500 dark:text-zinc-400">Artists</h2>
    <p>
      {%- for artist in artists -%} {%- if forloop.last -%}
      <a class="underline" href="{{ artist.url | relative_url }}">{{ artist.name | escape }}</a>
      {%- else -%}
      <a class="underline" href="{{ artist.url | relative_url }}">{{ artist.name | escape }}</a>, {% endif %} {%- endfor
      -%}
    </p>
  </div>
</div>

<div class="p-4 text-2xl sm:p-8 sm:text-4xl">
  <h2>Explore</h2>
</div>

{%- if artworks.size > 0 -%}
<div class="grid grid-cols-1 gap-8 p-4 text-sm/5 sm:grid-cols-2 sm:p-8 sm:text-base/6">
  {%- for artwork in artworks -%} {% include artwork.html artwork=artwork %} {%- endfor -%}
</div>
{%- endif -%}
